html{
    font-size: 16px;
}

body{
    background-color: #686868;
    
}
/* Contenedor*/
.container{
    /*poner una altura falsa*/
   height: 200vh;
   /*fondo de web*/
   background-color: #F9F9E2;
   /*ancho controlado*/
   max-width: 1366px;
   /*siempre en el centro de todas las pantallas*/
   margin: 0 auto;
   /*margenes*/
   box-sizing: border-box;
   
   
}

/*circulo representando la zona del logo*/
.circulo{
    /*color*/
    background-color: orange;
   /*forma*/
   width: 200px;
   height: 200px;
   border-radius: 50%;
   /*margen*/
   margin: 20px;
   
    
}

header{
    display: flex;
    align-items: center;
    padding: 35px 60px 0 60px;
    
}

.rectanguloazul{
    /*color*/
    background-color: blue;
    /*forma*/
    height: 200px;
    /*margen*/
    
    flex-grow: 1;
   
}
.rectangulo{
    /*color*/
    background-color: orange;
     /*forma*/
    height: 600px;
    border-radius: 150px;
    /*margen*/
    margin-top: 100px;
    
    
}

.rectanguloblanco{
    /*color*/
    background-color:white;
    /*forma*/
    height: 300px;
    /*margen*/
    margin-top: 60px;
    font-size: 3rem;
    text-align: justify;

}
.rectangulo-2{
    padding: 35px 60px 0 60px;
}

.circulorectangulo{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 100px 0;
    border-radius: 50%;
    padding: 35px 60px 0 60px;
    
}

.reverso{
    flex-flow: row-reverse nowrap;
    text-align: right;
}

.circuloverde{
    /*color*/
    background-color: rgb(77, 199, 77);
    /*forma*/
    width:300px;
    height: 300px;
    border-radius: 50%;
    /*margen*/ 
    margin-top: 100px;
    flex-shrink: 0;
    
}

.rectanguloverde{
    /*color*/
    background-color: white;
    /*forma*/
    height: 300px;
    /*margen*/
    margin-top: 100px;
    flex-basis: 70%;
    font-size: 1.8rem;
    text-align: justify;
}

.footer{
    /*color*/
    background-color: black;
    /*forma*/
    height: 30vh;
    padding: 75px 60px 0 60px;
    
}

.circulofooter{
     /*color*/
     background-color: orange;
     /*forma*/
     width: 200px;
     height: 200px;
     border-radius: 50%;
     /*margen*/
    
}


